entrypoint = "main.py"

[deployment]
run = "streamlit run main.py --server.address=0.0.0.0 --server.port=5000"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
runButton = "Run Streamlit App"

[[workflows.workflow]]
name = "Run Streamlit App"
author = 46648568
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py --server.address=0.0.0.0 --server.port=5000"

[nix]
channel = "stable-25_05"
